.Navbar {
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-weight: bold;
    font-size: large;
    margin-left: 80px;
}

.btn-red {
    background-color: gray;
    border-radius: 50%;
    color:white;
    padding: 10px;
    margin-right: 80px;
}