.text-primary {
  color: #556052 !important;
}

.btn-primary {
  background-color: #556052;
}

.btn-primary:hover {
  background-color: #434b40;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #434b40;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  background-color: #242923;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(50%);
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}