.ActiveQuiz {
    padding: 20px;
    color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 10px;
    box-sizing: border-box;

}

.Question {
    display: flex;
    justify-content: space-between;
    
}

.ActiveQuiz:hover {
    box-shadow: thistle;
}